.offer-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 193px 0 210px 0;
}
.offer-bg {
  background-image: url("./image/offer.png");
}
.offer_text h4 {
  font-size: 46px;
  line-height: 56px;
  font-family: "Paytone One", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.offer_text h3 {
  color: #ff1414;
  font-size: 100px;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 10px;
}
.offer_text p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 40px;
}
.boxed-btn3 {
  background: #ff1414;
  /* IE6-9 */
  color: #fff;
  display: inline-block;
  padding: 12px 53px;
  font-family: "Teko", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 2px;
  text-decoration: none;
}

/* line 48, ../../Arafath/CL/Cl November/227. Health _ Fitness/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  background: transparent;
  /* IE6-9 */
  color: #ff1414 !important;
  border: 1px solid #ff1414;
}

/* line 53, ../../Arafath/CL/Cl November/227. Health _ Fitness/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}
